<div class="jumbotron" ng-if="isLoggedIn() == false">
    <h1>Giphy Chat</h1>

    <p class="lead">
        Everything you need to chat.
    </p>

    <input ng-model="username" /> <button ng-click="addUser(username)">Login</button>
</div>
<div class="row chat-wrapper" ng-if="isLoggedIn()">
    <div ng-repeat="(id, message) in mine.messages">
        From: {{ message.from }}
        <br>Message: {{ message.data }}
        <br><a ng-click="deleteMessage(id)">Delete message</a>
        <br><div class="giphy-image-large" style="background-image: url('{{ message.image.url }}')">
        </div>
    </div>
</div>
